<div class="banner-product">
<div class="navbar">
    <form>
        <ul>
            <li class="li1">
                <h5>Filters</h5>
                <form action="">
                <input type="text" class="sf-input-text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form></li>
            <li>
                <h5>Activity</h5>
                <select>
                    <option ><a><span></span>All activities</a></option>
                    <option ><a><span></span></a>Advanced Positioning</option>
                    <option>Planning</option>
                </select>
            </li>
        </ul>
    </form>
</div>
</div>


    <h1><b>PRODUCTS</b></h1>
    <section id="grid-cont1">
    <div class="grid-container1">
  <div class="card" id="datawarehouse">
    <img class="img1" src="../../images/datawarehouse.png">
    <div class="container">
        <h3>Data Warehouse</h3>
        <p> Data Warehouse puts control of data into the hands of the customer. </p>
    <div class="icons" style="margin: 24px 0;">
        <a href="datawarehouse"><button class="btn btn-info">Learn more</button></a>
        
        
    </div>
    </div>
</div>
<div class="card" id="trimblexfill">
    <img class="img2" src="../../images/trimble-xfill.png">
    <div class="container">
        <h3>Trimble xFill</h3>
        <p>Trimble xFill provides centimeter-level back-up corrections via satellite </p>
        <div class="icons" style="margin: 24px 0;">
          <a href="trimblexfill"> <button class="btn btn-info">Learn more</button></a> 
           
        </div>
    </div>

</div>
<div class="card" id="rangepointrtx">
    <img class="img3" src="../../images/rangepoint-rtx.jpg">
    <div class="container">
        <h3>Range Point RTX</h3>
        <p>Affordable, mid-accuracy correction service providing via satellite. 
        </p>
        <div class="icons" style="margin: 24px 0;">
            <button class="btn btn-info">Learn more</button>
        </div>
    </div>
</div>

</div>
</section>
<p></p>
<section id="grid-cont2">
<div class="grid-container2">
    <div class="card" id="farmercore">
      <img class="img6" src="../../images/farmer core.png">
      <div class="container">
          <h3>Farmer Core</h3>
          <p> Farmer Core is an innovative feature that automatically sync all information across connected devices</p>
      <div class="icons" style="margin:0;">
          <button class="btn btn-info">Learn more</button>
          
          
      </div>
      </div>

  </div>
  <div class="card" id="centerpointrtx">
    <img class="img5" src="../../images/center-point rtx.jpg">
    <div class="container">
        <h3>Center Point RTX</h3>
        <p>CenterPoint RTX provides real-time, centimeter-level positions worldwide, creating input by decreasing overlap.  </p>
    <div class="icons" style="margin:  0;">
        <button class="btn btn-info">Learn more</button>
        
        
    </div>
    </div>

</div>
<div class="card" id="ag">
    <img class="img7" src="../../images/premiumimg.png">
    <div class="container" >
        <h3 class="ag">Ag Premium Weather</h3>
        <p>Ag Premium Weather is thel weather app that offers intelligent field-level precision.</p>
    <div class="icons" style="margin: 0;">
        <button class="btn btn-info">Learn more</button>
        
        
    </div>
    </div>

</div>

  </div>
</section>
  <p></p>
  <div class="grid-container3">
    <div class="card" id="advisorprime">
        <img class="img8" src="../../images/advisorprime.png">
        <div class="container">
            <h3>Advisor Prime</h3>
            <p>Advisor Prime reduce data entry errors and eliminate steps in transferring data back to the farmer.</p>
        <div class="icons" style="margin: 0;">
            <button class="btn btn-info">Learn more</button>
            
            
        </div>
        </div>
    
    </div>  
    <div class="card" id="centerpointvrs">
        <img class="img4" src="../../images/center-point vrs.png">
        <div class="container">
            <h3>Center Point VRS</h3>
            <p>Instant access to RTK-level corrections within a fixed network.</p>
            <div class="icons" style="margin: 24px 0;">
                <button class="btn btn-info">Learn more</button>
                
            </div>
        </div> 
  </div>
  <div class="card" id="advisorprime">
    <img class="img4" src="../../images/advisorprime1.png">
    <div class="container">
        <h3>Advisor Prime</h3>
        <p>Advisor Prime is Trimble’s intelligent, fully integrated web-based solution </p>
        <div class="icons" style="margin: 24px 0;">
            <button class="btn btn-info">Learn more</button>
            
        </div>
    </div> 
</div>
  </div>
