.feature-container{
    display: flex;
    padding:10px 20px;
    background-color: beige;

}
.img1{
  width:45%;
  border-radius: 10px;
  margin-left: 0;
}
/* .img1:hover, .img3:hover{
    box-shadow: 0 8px 16px 0 black;
  } */
h2{
font-size: 50px;
text-shadow: 10px black;
color:black;
}
p{
    font-size:20px;
    padding:4px;
    font-style: italic;
    color:black;
}
.head h1{
    text-align: center;
    font-size: 40px;
}
.img3{
    width:95%;
    border-radius: 10px;
    margin-left: 0px;
 }
 .content1{
    margin-left: 20px;
 }
 .content4{
     margin-right: 300px;
     text-align: center;
 }
.img4{
    margin-right: 40px;
}
.img5{
    border-radius: 10px;
    height:90%;
}
.container{
    display:flex;
    padding:10px 10px 10px 10px;
    background-color:rgb(124, 140, 148);
    width: 100%;
    border-radius: 10px;
}
.container p{
    text-align:left;
}