.feature-container{
    display: flex;
    padding:10px 20px;
}
.img1{
  width:45%;
  border-radius: 10px;
  margin-left: 0;
}
.img1:hover, .img3:hover, .img5:hover{
    box-shadow: 0 8px 8px 0 darkgrey;
  }
h2{
font-size: 30px;
text-shadow: 10px rgb(212, 168, 168);
text-align: center;
color:black;
}
p{
    font-size:18px;
    padding:4px;
    font-style: italic;
}
.body h1{
    text-align: center;
}
.img3{
    width:95%;
    border-radius: 10px;
    margin-left: 0px;
 }
 .content1{
    margin-left: 20px;
 }
 .content4{
     margin-right: 300px;
     text-align: center;
 }
.img4{
    margin-right: 40px;
    border-radius: 10px;
}
.img5{
    border-radius: 10px;
    height:90%;
}
.container{
    display:flex;
    background-color:rgb(182, 173, 176) ;
    width:100%;
    padding:20px;
    position:relative; 

}
.container h3{
    padding:10px;
    font-size: 20px;
    margin-left: 10px;
}
.container img{
    padding:10px;
    margin-left: 10px;
}
.container p{
    text-align:left;
    padding:20px;
}
.body{
    background: rgba(142, 180, 167, 0.014);

}
.body h1{
    background-color:rgb(182, 173, 176) ;
}
em{
    color:black;
}



.overlay {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}
