<!-- <div class="head">
  <h1><b>FEATURES</b></h1>
</div> -->
<div class="feature-container" >
    <img class="img1" src="../../images/virtualfarm web1.png">
    <div class="content1">
    <h2>Virtual Farm</h2>
    <p>When you are aware of pests and diseases, as well as of the means to be used, it allows you to make an operational decision to save the crop and reduce costs.</p>
    
      <p> You can conduct a survey of the field using virtual reality. It is easier for farmers to determine the quality of the soil, to pick up the appropriate crops, and effectively use the soil potential for crop production.</p> 
        
       <p> How is it implemented? Sensors are being installed in the field, and they scan the crop. An agronomist needs only to bring a tablet or a smartphone to the plant, and he/she receives information about the weather, temperature, plant health, fertilizer needs, and the date of harvesting.</p>
    </div>
</div>
<div class="feature-container">
    <div class="content2">
  <h2> Data Management</h2>
  <p>Farm and Data Management  is used to optimize and manage farm operations and production activities.</p>
  <p>The software helps in automating farm activities such as record management, data storage, monitoring and analyzing farming activities, as well as streamlining production and work schedules.</p>
  <p>The information obtained can help farmers identify efficiencies that lead to higher productivity and profitability, lower input costs, and optimized fertilizer use. </p>  
</div>
  <div>
     <img class="img2" src="../../images/dataimg.png">
</div>
</div>
<div class="feature-container">
  <div>
    <img class="img3" src="../../images/guidance.png">
  </div>
  <div class="content3">
    <h2>Guidance and Steering</h2>
    <p>Trimble guidance display and steering solutions help you accurately monitor and map field information in real-time</p>
    <p>By utilizing GPS technology in automated steering, farmers are able to reduce overlap in their fields by improving accuracy in their rows</p>
  </div>

</div>
<div class="feature-container">
  <div content="content4">
    <h2>FAST App</h2>
    <p>The FAST App by Trimble is a smart assistant for farmers to find the ideal precision agriculture system configuration for their farm operations.
    </p>
  </div>
  <div>
    <img class="img4" src="../../images/fastapp1.png">
  </div>

</div>
<div class="feature-container">
  <div>
    <img class="img5" src="../../images/land preparation.png">
  </div>
  <div content="content5">
    <h2>Land Preparation</h2>
    <p>Maximize crop yields and enhance overall farm productivity and profitability with land preparation solutions customized to connect your farm — from tillage operations and anhydrous applications, to personalized prescription maps.</p>
  </div>
</div>