<div class="body">
  <h1>CROP PLANNING</h1>
<div class="feature-container" >
          <img  class="img1" src="../../images/virtual farm.jpg" alt="">
    <div class="content1">
    <h2>Virtual Farm</h2>
    <p><em class="fa fa-check-circle" style="font-size:18px;"></em>When you are aware of pests and diseases, as well as of the means to be used, it allows you to make an operational decision to save the crop and reduce costs.</p>
    
      <p><em class="fa fa-check-circle" style="font-size:18px;"></em> You can conduct a survey of the field using virtual reality. It is easier for farmers to determine the quality of the soil, to pick up the appropriate crops, and effectively use the soil potential for crop production.</p> 
        
       <p> <em class="fa fa-check-circle" style="font-size:18px;"></em>How is it implemented? Sensors are being installed in the field, and they scan the crop. An agronomist needs only to bring a tablet or a smartphone to the plant, and he/she receives information about the weather, temperature, plant health, fertilizer needs, and the date of harvesting.</p>
    </div>
</div>
<div class="feature-container">
    <div class="content2">
  <h2> Data Management</h2>
  <p><em class="fa fa-check-circle" style="font-size:18px;"></em>Farm and Data Management  is used to optimize and manage farm operations and production activities.</p>
  <p><em class="fa fa-check-circle" style="font-size:18px;"></em>The software helps in automating farm activities such as record management, data storage, monitoring and analyzing farming activities, as well as streamlining production and work schedules.</p>
  <p><em class="fa fa-check-circle" style="font-size:18px;"></em>The information obtained can help farmers identify efficiencies that lead to higher productivity and profitability, lower input costs, and optimized fertilizer use. </p>  
</div>
  <div>
     <img class="img2" src="../../images/dataimg.png" alt="">
</div>
</div>
<div class="feature-container">
  <div>
    <img class="img3" src="../../images/guidance.png" alt="">
  </div>
  <div class="content3">
    <h2>Guidance and Steering</h2>
    <p><em class="fa fa-check-circle" style="font-size:18px;"></em>Trimble guidance display and steering solutions help you accurately monitor and map field information in real-time</p>
    <p><em class="fa fa-check-circle" style="font-size:18px;"></em>By utilizing GPS technology in automated steering, farmers are able to reduce overlap in their fields by improving accuracy in their rows</p>
  </div>

</div>
<div class="feature-container">
  <div content="content4">
  <h2>FAST App</h2>
    <p><em class="fa fa-check-circle" style="font-size:18px;"></em>The FAST App by Trimble is a smart assistant for farmers to find the ideal precision agriculture system configuration for their farm operations.
    </p>
    <p><em class="fa fa-check-circle" style="font-size:18px;"></em>As long you’re making PA decisions based on data and not on emotion, any missteps should be small and learned from quickly.</p> <p><em class="fa fa-check-circle" style="font-size:18px;"></em>In fact, much of the success of using PA technology is accomplished through trial and error.</p> <p><em class="fa fa-check-circle" style="font-size:18px;"></em>Recognizing the error and making adjustments in the moment will ensure your PA technologies are accomplishing their goal of increased efficiency and productivity.</p>
  </div>
  <div>
<iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/IlQHG6ZvgnY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

</div>

<div class="feature-container">
  <div>
    <img class="img5" src="../../images/land preparation.png" alt="">
  </div>
  <div content="content5">
    <h2>Land Preparation</h2>
    <p><em class="fa fa-check-circle" style="font-size:18px;"></em>Maximize crop yields and enhance overall farm productivity and profitability with land preparation solutions customized to connect your farm — from tillage operations and anhydrous applications, to personalized prescription maps.</p>
    <p><em class="fa fa-check-circle" style="font-size:18px;"></em>With the right equipment, farmers are able to potentially harvest a great yield. Over time, Trimble has moved its focus from tractorization to farm mechanization with its Applications Business Unit (ABU) efficiently answering the emerging needs of the farming community. </p>
  </div>
</div>
<div class="container">
  <div>
    <img src="../../images/1.png" width="90" height="90" alt="">
    <h3>Save Time & Money</h3>
    <p>Leverage a complete strip anhydroussolution to manage accurate fertilizer control.</p>
  </div>
  <div>
    <img src="../../images/achieve.png" width="90" height="90" alt="">
    <h3>Maximize Yield</h3>
    <p>Achieve more reliable crop output results with improved guidance and steering accuracy.</p>
  </div>
  <div>
    <img src="../../images/improve.png" widh="90" height="90" alt="">
    <h3>Improve Visibility</h3>
    <p>Harness the power of prescription  maps and other intelligent tools that drive profitable decisions.</p>
  </div>
  <div>
    <img src="../../images/elevate.png" width="100" height="90" alt="">
    <h3>Elevate Your Peace of Mind</h3>
    <p>Rely on our global reseller network
      of experienced precision
      agriculture experts.</p>
  </div>
</div>
</div>
