<div class= 'container'>

    <div class="container_content">
    <div class="container_content_inner">
    <div class="title">
        <h2>Virtual Farm</h2>
    </div>
    <div class="par">
    <p>When you are aware of pests and diseases, as well as of the means to be used, it allows you to make an operational decision to save the crop and reduce costs.</p>
    </div>
    <div class="btns">
    <a href="features"> <button class='btns_more'> See more </button></a>
    </div>
    </div>
    </div>
     <div class="container_outer_img" >
     <div class="img-inner">
     <img src="../../images/virtual.jpg" alt="" class="container_img"/>
           </div>
         </div>
      </div>
    <div class="overlay"></div>
    <section id="precision">
      <div class="precision-container">
        <div>
          <h2>Easier farming with precision - it's what we do</h2>
          <p>Farming is hard, but Agri Dot technology can help make it easier. </p>
          <p>Through simplified workflows, Agri Dot accurate easy-to-use technology maximizes productivity and return on investment.

          </p>
        </div>
        <div>
          <iframe width="732" height="412" src="https://www.youtube.com/embed/XVy_IS7_Ffo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </section>
<section  id="weather">
    <div class="feature" id="weather">
      <div class="fea1">
        <img src="../../images/weather2.jpg" alt="weather">
        <div class="content">
        <h2>Weather Tracking</h2>
        <p>Although we still make jokes about our local meteorologists, the truth is that computerized weather modeling is becoming increasingly sophisticated. There are online weather services that focus exclusively on agriculture, and farmers can access these services on dedicated onboard and handheld farm technology but also via mobile apps that run on just about any consumer smartphone. This technology can give farmers enough advanced notice of frost, hail and other weather that they can take precautions to protect the crops or at least mitigate losses to a significant degree.</p>
        </div>
        </div>
       
    </div>
</section>
<div class="overlay"></div>

  <div class="cards">
      <div class="card1">
          <div class="para">
          <h3>Data From The Sky - Drones </h3>
          <img src="../../images/d1.jpg">

          <p>Despite the fact that drones are easy to use and are capable of collecting large amounts of data within short time frames, there are still challenges when using them on a constant basis as they don’t come cheap. Drones are almost helpless where mapping or monitoring of large areas is required, and it is better to complement the technology with satellite monitoring among already mapped areas, where specific zones need to be cross-checked.</p>
        </div>
        </div>
      <div class="card2">
        <div class="para">
        <h3>Farm Automation</h3>
        <img src="../../images/farmauto.jpg">
        <p>Farm automation, often associated with “smart farming”, is technology that makes farms more efficient and automates the crop or livestock production cycle. An increasing number of companies are working on robotics innovation to develop drones, autonomous tractors, robotic harvesters, automatic watering, and seeding robots. Although these technologies are fairly new, the industry has seen an increasing number of traditional agriculture companies adopt farm automation into their processes. </p>
    </div>
    </div>
    <div class="card3">
        <div class="para">
        <h3>Livestock Farming Technology</h3>
        <img src="../../images/livestock.jpg">
        
        <p>Livestock technology can enhance or improve the productivity capacity, welfare, or management of animals and livestock. The concept of the ‘connected cow’ is a result of more and more dairy herds being fitted with sensors to monitor health and increase productivity. Putting individual wearable sensors on cattle can keep track of daily activity and health-related issues while providing data-driven insights for the entire herd.</p>
    </div>
    </div>
  </div>
  