  .card {
      width: 340px;
      height: 520px;
      margin-bottom: 2rem;
      border: 5px #4d4d4d;
      }
       .card .card-body .card-title {
        font-size: 2.4rem;}
    .card-body{
      width:100px;
      height:400px;
    }  
    
    .container1{
      align-items: center;
      border-radius: 5px ;
      border: 5px black;
      display:flex;
      background-color: #615e5e;
      width:400px;
      margin-top: 40px;
      margin-left: 150px;
    }
    .container1 label{
      width: 500px;

    }
    .container1 label .form-control{
      width: 500px;

    }
    .banner{
      display:flex;
      align-items: center;
      padding: 20px 20px;
    }
    .container2{
      margin-left: 200px;
      width:300px;
    }
    .banner1 .head{
      /* margin-left:250px ;
       */
       text-align: center;
    }
    .banner1{
      display:flexbox;
      background-color: bisque;
      background-size: cover;
      height:100vh;
    }