<div class="banner1">
    <h3 class="head">Contact Us</h3>

<div class="banner">
<div class="container1">

    <div class="card-body">
<h2>Talk here</h2>
    <form [formGroup]="contact">
            <label for="first_Name" >Name</label>
            <input type="text" formControlName="name" class="form-control" placeholder="Enter the Name" required maxlength="15">
            <div>
            <span class="text-danger"
                *ngIf="contact.controls['name'].touched && contact.hasError('required','name')">*Name
                 is required </span></div>
            <label for="email" >Email</label>
            <input type="text" formControlName="email" class="form-control" placeholder="Enter email" >
            <div> <span class="text-danger" *ngIf="contact.controls['email'].touched && contact.hasError('required','name')">*Email is required
            </span></div>
            <label for="occupation" >Occupation</label>
            <input type="text" formControlName="occupation" class="form-control" placeholder="Enter the occupation" >
            <div>  <span class="text-danger"
                *ngIf="contact.controls['occupation'].touched && contact.hasError('required','occupation')">*Occupation
                 is required </span></div>
            <label for="talk" >Talk to us here..</label>
            <input type="text-area" formControlName="talk" class="form-control" placeholder="Your doubts in precision agriculture" >
            <div>  <span class="text-danger"
                     *ngIf="contact.controls['talk'].touched && contact.hasError('required','talk')">*This field is required </span></div>
                 <p></p>
    </form>
    <button type="button" class="btn" (click)='submitcontact(this.contact.value)'[disabled]="!contact.valid">Submit</button>
</div>
</div>
<div class="container2">
        <h2 class="h3-responsive py-2 mx-2">Opening Hours</h2>
        <hr>
        <div class="content py-2 mx-2">
      <h6 class="h6-responsive contactliststyle"><em  class='far'>&#xf017;</em>Monday-Friday: 08:00-16:00</h6>
      <h6 class="h6-responsive contactliststyle"><em  class='far'>&#xf017;</em> Weekends: 09:00-13:00</h6>
      <h6 class="h6-responsive contactliststyle"><em  class='far'>&#xf017;</em>Public Holidays: 10:00-16:00</h6>
        </div>

        <div class="socials py-2 mx-2">
          <h2 class="h3-responsive">Get in touch with us</h2>
          
          <h6 class="h6-responsive contactliststyle"><em  class="fas">&#xf0e0;</em>agridot@gmail.com</h6>
          <h6 class="h6-responsive contactliststyle"><em  class='fas'>&#xf095;</em>+ 91- 86744 65342</h6>
          <h6 class="h6-responsive contactliststyle"><em  class='fas'>&#xf2b9;</em>AgriDot Center,Joahenden 2nd Avenue<br>Mumbai</h6>
        </div>

</div>
</div>
</div>