<footer>
    <div class="logo"> 
        AGRI DOT </div>
    <div class="sec">

        <div class="sec1">
            <ul>
                <li>
                    <div class="add">
                        <em  class='fas'>&#xf2b9;</em> 
                         <p>Agri Dot Center, 
                            Joahenden 2nd Avenue
                            Mumbai
                        </p>
                    </div>
                </li>
                <li>
                    <div class="add">
                        <em  class='fas'>&#xf095;</em>   <p>+ 91- 86744 65342</p>
                    </div>
                </li>
                <li>
                    <div class="add">
                        <em  class="fas">&#xf0e0;</em>   <p>agridot@gmail.com</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="sec2">
            <ul>
                <a href routerLink="form">
                    <li id="link">About Us</li>
                </a>
                <a href routerLink="feature1">
                    <li id="link">What We Do</li>
                </a>
                <a href routerLink="adminlogin">
                    <li id="link">Admin login</li>
                </a>
            </ul>
        </div>
        <div class="sec3">
            <ul>
                <a href>
                    <li id="link">Status</li>
                </a>
                <a href >
                    <li id="link">Privacy Policy</li>
                </a>
                <a href routerLink="form">
                    <li id="link">Contact Us</li>
                </a>
            </ul>
        </div>
       

    </div>
    <div class="copy">
        &#169; Copyright 2022 AGRI DOT. All rights reserved.
    </div>
</footer>