<div class="banner">
        <div class="navbar">
       <!-- <img class="logo" href="#" src="../../images/logo.jpg" alt=""> -->
       <div class="logo"> <span class="material-icons">

    </span>
   AGRI DOT </div>
        <ul>
            <li><a class="active" href="">Home</a></li>
            <li><a href="agrifeature">Features</a></li>
            <li><a href="listcard">Products</a></li>
            <li><a href="form">Contact Us</a></li>
            <li><a href="adminlogin">Login</a></li>

            
        </ul>
    </div>
</div>
