<div class="banner" *ngIf="this.api1.show">
        <div class="navbar">
       <div class="logo"> 
        
   AGRI DOT </div>
        <ul>
            <li><a class="active" routerLink="/" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/agrifeature" routerLinkActive="active">Features</a></li>
            <li><a routerLink="/listcard" routerLinkActive="active">Products</a></li>
            <li><a routerLink="/form" routerLinkActive="active">Contact Us</a></li>
            <div class="dropdown">
                <button class="dropbtn">
      
                </button>
                <div class="dropdown-content">
                    <a routerLink="/adminlogin" routerLinkActive="active" *ngIf="this.api1.show">Admin</a>
                    <a routerLink="/resellerlogin" routerLinkActive="active" *ngIf="this.api1.show">Reseller</a>
                </div>
            </div>
            <li><a routerLink="/loginpage" routerLinkActive="active" *ngIf="this.api1.show">Login</a>  </li> 
            <li><a  routerLink="/signup" routerLinkActive="active">Signup</a></li>
            
        </ul>
    </div>
</div>
<div class="banner" *ngIf="this.api1.logOutShow">
    <div class="navbar">
   <div class="logo"> <span class="material-icons">

</span>
AGRI DOT </div>
    <ul>
        
        <li><a href="" *ngIf="this.api1.logOutShow" (click)="logOut()">Logout</a></li>

        
    </ul>
</div>
</div>
