<div class="body">
    <div class="container">
      <h3>Admin Login </h3>
    <form [formGroup]="adminvalid">
    <div class="container1">
      <label for="user">Username</label>
      <input type="text" placeholder="Enter username" name="user" formControlName="adminid" required>
      <span class="text-danger"
      *ngIf="adminvalid.controls['adminid'].touched && adminvalid.hasError('required','adminid')">*Email is
      required </span> 
    
      <label for="pass">Password</label>
      <input type="password" placeholder="Enter password" name="pass" formControlName="password" required>
      <span class="text-danger"
      *ngIf="adminvalid.controls['password'].touched && adminvalid.hasError('required','password')">*password is
      required </span> 
      <button type="submit"(click)='adminUsermail(this.adminvalid.value)'>Login</button>
    
    
    </div>
   
  
    </form>
</div>
    </div>

