.body {
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    padding: 100px;
    background-image: url(../../images/smart-agriculture.jpg);
  }
  form {
    opacity: 1;
  }
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 8px;
  }
  .container1 button {
    background-color:rgb(131, 130, 130);
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    height:60px;
  }
  .container button:hover {
    opacity: 0.8;
  }
  
  .container1 {
      padding: 16px;
      display: block;
      width:400px;
      height:350px;
      border: 8px black;
      border-radius: 10px;
      background-color: white;
     
    }
    .body .container h3{
        text-align:left;
        color:white;
        font-size: 30px;
        margin-left: 100px;
    }
    h3{
      font-size: 60px;
      text-transform: uppercase;
      text-align: center;
    }
  