.container{
    padding:20px;
    margin-left:10px;
    height:max-content;
    display: flex;
}
.container h1{
    text-align: center;
}

.banner1{
   overflow: hidden;
}
li{
    font-size: 18px;
}
h3{
    font-size: 30px;
    text-align: left;
    margin-left: 20px;
}

.content{
    margin-left:200px;
    margin-right: 0px;
}
.img-container img{
    margin-left: 30px;
    width:100%;
    height:80%;
}
.img-container{
    width:100%;
    height:70vh;
}
.container2{
    padding:30px 10px  ;
}

.container2 p{
    padding:20px;
    margin-left: 0px;
    font-size: 18px;
}
.container2 .link{
    padding:40px 0px;
    height:60%;
    width:50%;
    margin-left: 250px;
}
.container1{
    display:flex;
    padding:50px;
    background-color: aquamarine;
    margin-left: 50px;
    margin-right: 50px;
}
.back-container{
    background-color: black;
    height:180vh;
    width:80%;
    margin-left: 0px;
}
  h4{
    font-size: 30px;
    text-align: center;
    color:rgb(220, 83, 14);
    z-index: 1;
}
.content3, .content2{
    display:flex;
}

.img-container1 .img3{
    height:80%;
    margin-right: 10px;
    border-radius: 20px;
}

.content1{
    margin-right: 0;
    padding:20px;
}
.cont-1{
    margin-left: 120px;
    padding:20px;
}


