<div class="banner1">

<div class="container">
    <div class="img-container">
      <img class="img" [src]="dataSet.img" alt="">
    </div>
    <div class="cont-1">
      <h1>{{dataSet.title}}:</h1><h4>{{dataSet.description}}</h4>
      <ul>
      <li>{{dataSet.content1}}</li>
      <li>{{dataSet.content2}}</li>
     </ul></div>
</div>


<div class="container1">
    <div class="content1">
        <h3>Key Benefits of {{dataSet.title}}</h3>
        <ul>
            <li>{{dataSet.keyone}}</li>
            <li>{{dataSet.key2}}</li>
            <li>{{dataSet.key3}}</li>
            <li>{{dataSet.key4}}</li>
            <li>Once data views are established, business users can analyze the information with easy to use tools.</li></ul>
    </div>
    <div class="img-container1" >
      <img class="mainimg" [src]="dataSet.mainimg" alt="">

    </div>

</div>
<div class="container2">
    <div>
      <img [src]="dataSet.link" class="link" alt="">
    </div>
    <div>
      <h3>What is {{dataSet.title}}?</h3>
      <p>{{dataSet.feature}}</p>
    </div>
</div>
<p></p>
</div>