.container{
    padding:20px;
    margin-left:10px;
}
.container h1{
    text-align: center;
}
.banner1{
   overflow: hidden;
}
.banner{
    position:relative;
}
.banner h4 {
    position: absolute;
    bottom: 200px;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
li{
    font-size: 18px;
}
h3{
    font-size: 30px;
    text-align: left;
    margin-left: 20px;
}
.banner{
    height:60%;
    background:fixed;
}
.content{
    margin-left:200px;
    margin-right: 0px;
}
.img-container img{
    margin-left: 300px;
    width:50%;
    height:42%;
}
.container2{
    padding:30px 10px  ;
}
.container2 .link{
    margin-left: 30px;
    height:74%;
}
.container2 p{
    padding:0;
    margin-left: 0px;
    font-size: 18px;
}
.container1{
    display:flex;
    padding:50px;
}
  h4{
    font-size: 30px;
    text-align: center;
    color:rgb(220, 83, 14);
    z-index: 1;
}
.content3, .content2{
    display:flex;
}

.img-container1 .img3{
    height:80%;
    margin-right: 10px;
    border-radius: 20px;
}

.content1{
    margin-right: 0;
    padding:20px;
}

.container2 .link{
    padding:40px 0px;
    height:60%;
    width:50%;
    margin-left: 250px;
}
.container2 p{
    padding:20px;
}
