.trimblecontainer{
    background-image: url(../../images/field.webp);
    height:95vh;
    position: relative;
}

.trimblecontainer h3 {
    position: absolute;
    top: 100px;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    height: max-content;
  }
  h4{
    font-size: 40px;
    text-align: center;
    color:black;
    z-index: 1;
}
.content3, .content2{
    display:flex;
}
.para3{
    text-align:left;
    font-style: italic;
}
.img{
    height:90%;
    margin-right: 10px;
    border-radius: 40px;
}
h3,h5{
    font-size: 30px;
    color:black;
}
p{
    font-size: 20px;
}
.para2, .para3{
    margin-left: 10px;
    font-style: italic;

}