
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 bg-light d-md-block sidebar">

      <div class="left-sidebar">
        <ul class="nav flex-column sidebar-nav">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/table"><em class="fa fa-fw fa-user"></em>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-chevron-right" viewBox="0 0 16    16">
                <path fill-rule="evenodd"
                  d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
              </svg>
              User info
            </a>
          </li><br>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/listcard"><em class="fa fa-paper-plane"></em>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
              </svg>
              All Activities
            </a><br>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cardtable"><em class="fa fa-book"></em>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
              </svg>
              Product-details
            </a>
          </li><br>
          <li class="nav-item">
            <a class="nav-link" routerLink="/usertable"><em class="fa fa-check-square" routerLink="features"></em>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
              </svg>
              User details
            </a>
          </li><br>
        </ul>
      </div>

    </div>

  </div>
  <div class="container">
    <h1>WELCOME TO DASHBOARD</h1>
    <div class="display">
      <div class="cards">
          <img src="../../images/candid.png" alt="" width="100" height="80">
          <figcaption class="bn1"><button routerLink="/table" class="btn btn-info">User info</button></figcaption><br>
      </div>
      <div class="cards">
      <img src="../../images/addproduct.jpg" alt="" width="100" height="80">
          <figcaption class="bn2"><button class="btn btn-info" routerLink="/addcard">Add a Product</button></figcaption>
       <br>
      </div>
      <div class="cards">
       <img src="../../images/ourproduct.png" alt="" width="100" height="80">
          <figcaption class="bn3"><button class="btn btn-info" routerLink="/listcard">View Product</button></figcaption>
      </div>
    </div>
  </div>
  