  .form-control {
    width: 960px;
  }
  nav{
    height:75px;
  }
  .sidebar {
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    z-index:100;
    padding: 80px 0px 0 10px;
    border-right: 1px solid #d3d3d3;
  }
  .bn1, .bn2, .bn3{
    margin-left: 330px;
  }

  .left-sidebar {
    top:0;
    height:calc(100vh-70px);

  }
  .left-sidebar a:hover{
    color: #f1f1f1;
  }
  
  .sidebar-nav a.nav-link{
    color:#333;
    font-weight:bold;
  }
  .icons {
    display:flex;
  }
  h3 {
    padding-top: 1em;
    color:#333;
  }
  li{
    align-items: flex-end;
  }
  
  main {
    padding-top:100px;
  }
  
  h3 {
    padding-top: 1em;
    color:#333;
  }
  
  main {
    padding-top:100px;
  }
  
  main.card {
    margin-bottom: 20px;
  } 
  .card{
    width:200px;
    height:300px;
  }
  img{
    max-width: 20%;
    height:30%;
    margin-left: 250px;
  }
  h4{
    color: black;
  }
  
  button{
    width:120px;
    height:60px;
  }