  .form-control {
    width: 960px;
  }
  nav{
    height:75px;
  }
  .sidebar {
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    z-index:100;
    padding: 80px 0px 0 10px;
    border-right: 1px solid #d3d3d3;
  }
  .bn1, .bn2, .bn3{
    margin-left: 330px;
  }

  .left-sidebar {
    top:0;
    height:auto;

  }
  .left-sidebar a:hover{
    color: #f1f1f1;
  }
  
  .sidebar-nav a.nav-link{
    color:#333;
    font-weight:bold;
  }
  .icons {
    display:flex;
  }
  h3 {
    padding-top: 1em;
    color:#333;
  }
  li{
    align-items: flex-end;
  }
  
  main {
    padding-top:100px;
  }
  
  main.card {
    margin-bottom: 20px;
  } 
  .cards{
    height:250px;
    width:350px;
  }
  img{
    width: 25%;
    height:60%;
    margin-left: 220px;
  }
  h4{
    color: black;
  }
  
  button{
    width:150px;
    height:50px;
    margin-left: -140px;
  }
  .display{
    display: flex;
    padding: 130px 10px;
  }
  h1{
    margin-left: 340px;
    margin-top: 100px;
  }