<nav class="navbar navbar-dark bg-primary flex-md-nowapr fixed-top p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="dashboard">Only Dashboard</a>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowarp">
        <a class="nav-link" href="#">Logout</a>
      </li>
    </ul>
  </nav>
  
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 bg-light d-md-block sidebar">
      
        <div class="left-sidebar">
          <ul class="nav flex-column sidebar-nav">
            <li class="nav-item">
              <a class="nav-link active" href="table"><em class="fa fa-fw fa-user" ></em>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16    16">
                  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                </svg>
                Candidate info
              </a>
            </li><br>
            <li class="nav-item">
              <a class="nav-link" href="listcard"><em class="fa fa-paper-plane" ></em>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                </svg>
               All Activities
              </a><br>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="cardtable"><em class="fa fa-book"></em>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                </svg>
            Card-details
              </a>
            </li><br>
            <li class="nav-item">
              <a class="nav-link" href="#"><em class="fa fa-check-square"></em>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                </svg>
            Crop Planning
              </a>
            </li><br>
          </ul>
        </div>
        
      </div>
      
      </div>
      <div class="container">
    
      <div>
      <a href="table">
        <img src="../../images/candid.png" alt="" width="100" height="80" >
        <figcaption class="bn1"><button class="btn btn-info">Candidate info</button></figcaption><br>
      </a>
    </div>
    <div>
      <a href="addcard"><img src="../../images/addproduct.jpg" alt="" width="100" height="80"><figcaption class="bn2"><button class="btn btn-info">Add a Product</button></figcaption></a><br>
    </div>
    <div>
      <a href="listcard"><img src="../../images/ourproduct.png" alt="" width="100" height="80"><figcaption class="bn3"><button class="btn btn-info">View Product</button></figcaption></a>
    </div>
    <div>
    
    </div>
</div>
</div>

