<!-- <input type="search" [(ngModel)]="find" placeholder="enter the data" class="form-control mt-5 search"> -->
<div class="input-group">
<div class="form-outline">
    <input type="search" [(ngModel)]="search" class="form-control mt-5 search" placeholder="Enter Your Data" />
    <p></p>
    <!-- <button type="submit" class="btn btn-info" (click)="QueryDetails()">View status</button> -->
</div>
</div>
<table id="table bg-light" class="table">
    <thead class="text-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">email</th>
            <th scope="col">occupation</th>
            <th scope="col">query</th>
           

        </tr>
    </thead>
    <tbody class="text-dark">
        <tr *ngFor="let obj of object1|filter:search">
            <td scope="row">{{obj.name}}</td>
            <td scope="row">{{obj.email}}</td>
            <td scope="row">{{obj.occupation}}</td>
            <td scope="row">{{obj.talk}}</td>
            
            

        </tr>
    </tbody>
</table>
<button type="submit" class="bn btn-info" (click)="QueryDetails()">Get Data</button>
    
    
