<div class="body">
<div class="input-group">
<div class="form-outline">
    <label for="form-control mt-5 search"><h3><em class="fa fa-search" style="color:black;"></em>Search here to obtain the particular data</h3>
    </label>
    <input type="search" [(ngModel)]="search" class="form-control mt-5 search" placeholder="Enter Your Data" />
    <p></p>
</div>
</div>
<table id="table bg-light" class="table">
    <caption></caption>
    <thead class="thead-dark">

        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Occupation</th>
            <th scope="col">Query</th>

        </tr>
    </thead>
    <tbody class="text-dark">
        <tr *ngFor="let obj of object|filter:search">
            <td >{{obj.name}}</td>
            <td >{{obj.email}}</td>
            <td >{{obj.occupation}}</td>
            <td >{{obj.talk}}</td>
            
            

        </tr>
    </tbody>
</table>
</div>  
    
