.form-outline{
    display:grid inline-table;
}
table{
    background-color: floralwhite;
    width:80%;
    padding:20px 20px;
    margin-left: 130px;
    border-radius: 5px rgb(41, 39, 39);
    outline-style: inset;
    margin-top: 10px;
}
.input-group{
    background-color: #20b9720c;
}
button{
    margin-left: 1130px;
}
input{
    border-radius: 20px;
    margin-left: 200px;
    background-color:white;
    margin-top: 10px;
 }
 label{
    margin-left: 300px;
    color:aliceblue;
    text-shadow: whitesmoke;
    margin-top: 30px;
}
  .body{
    background-color: #7ea68e;
 } td{
     color:white;
     background-color:black;
 }
 th{
     font-size: 20px;
     color:white;
     background-color:black;

 }
 caption{
     text-align: center;
 }