.body {
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    padding: 80px;
    background-image: url(../../images/contactimg.jpg);
    /* background-image: url(../../images/smart-agriculture.jpg); */
    /* background-image: url("https://images.unsplash.com/photo-1503252947848-7338d3f92f31?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1031&q=80"); */
  }
  form {
    opacity: 0.9;
  }
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    /* border: 1px solid #ccc; */
    box-sizing: border-box;
    border-radius: 8px;
  }
  button {
    /* background-color: rgb(77, 174, 77); */
    background-color:rgb(131, 130, 130);
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
  }
  button:hover {
    opacity: 0.6;
  }
  
  .container1 {
      padding: 16px;
      display: block;
      width:400px;
      height:400px;
      border: 8px black;
      border-radius: 10px;
      background-color: white;
      margin-top: 10px;
    }
    .body .container h3{
        text-align:left;
        color:black;
        font-size: 30px;
        margin-left: 100px;
        margin-top: 0px;

    }
  