<!-- <section class="container">
    <div class="banner-logo">
    <img class="logo" src="../../images/farm logo.jpg">
</div>
        <div class="banner-text">
            <h2>Easier farming with precision-it's what we do</h2>
            <p></p>
            <div class="banner-btn">
                <a href="#"><span></span>Readmore</a>

            </div>
        </div>
</section> -->
<!-- <div id="sidenav">
    <nav>
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">FEATURES</a></li>
            <li><a href="#">SERVICES</a></li>
            <li><a href="#">CONTACT US</a></li>
            <li><a href="#">LOGIN</a></li>
        </ul>
    </nav>
</div> -->
<!-- <div class="banner-text">
    <h1 >Precision Agriculture</h1>
    <p>Easier farming with precision-it's what we do</p>
    <div class="banner-btn">
        <a href="#"><span></span>Read more</a>
    </div>
</div> -->
<div class="banner">
<div class="banner-text">
    <h1 >Precision Agriculture</h1>
    <p></p>
   <h3>Easier farming with precision-it's what we do</h3> 
    <div class="banner-btn">
        <a href="#read"><span></span>Read more</a>
    </div>
</div>
<section id="read">
    <h1>Precision Agriculture cycle</h1>
    <div class="read-content1">
        <div>
    <img src="../../images/agricycle.jpg"></div>
    <div>
    <p>Getting a yield is like solving a complex multivariate algebraic equation.</p>
     <p>If a farmer does the math right, they can maximize field productivity. Otherwise, the entire season’s harvest may be compromised.</p>
     <p> Luckily, agriculture GPS tracking technology can augment the intuition of experienced farmers, allowing them to manage their fields with high precision.</p>
</div>
 </div>

</section>
</div>