<div class="mydiv">
<section class="showcase">
  <header>
     <h2 class="logo">AGRI DOT</h2>
   
  </header>
  <video src="https://assets.mixkit.co/videos/preview/mixkit-flying-over-a-green-wheat-field-17573-large.mp4" muted loop autoplay></video>

  <div class="overlay"></div>
  <div class="text">
    <h2>PRECISION </h2> 
    <h3>AGRICULTURE</h3>
    <p> Aims to improve crop performance and environmental quality</p>
  </div>
 
</section>

<section class="agri" id="agridot">
    <h1> Precision Agriculture</h1>

  <div class="agri-container">
    <div class="cont_img">
      <img src="../../images/digital-farming.jpg" alt="">
  
    </div>
    <div>
      <p>Precision agriculture systems are dynamically developing management systems.</p>
      <p>
        Precision Agriculture (PA) requires special equipment and software to collect and analyze all the information. 
      </p>
      <p>
         Since precision agriculture technology uses hardware and software, specialists are needed to implement them.However, with further work, farmers can cope on their own.
      </p>
      <p>It can be conditionally divided into ground, aerial, and satellite.</p>
    
      
    </div>
    
  </div>
  
</section>
<section class="read" id="read">
    <h1>Precision Agriculture cycle</h1>
    <div class="read-content1">
        <div class="read-img">
    <img src="../../images/agricycle.jpg" alt="">
  </div>
    <div >
    <p>Getting a yield is like solving a complex multivariate algebraic equation.</p>
     <p>If a farmer does the math right, they can maximize field productivity. Otherwise, the entire season’s harvest may be compromised.</p>
     <p> Luckily, agriculture GPS tracking technology can augment the intuition of experienced farmers, allowing them to manage their fields with high precision.</p>

    </div>
 </div>
</section>
<section class="iot_agri" >
  <h1>IOT in Precision Agriculture </h1>
    <div class="container" id="content2">
      <div class="livestock-container">
       <div class="livestock">
           <img src="../../images/iot1.jpg" alt="">
       </div>
       <div class="livestock-para">
           <p>Precision agriculture (PA) is an approach to farm management that uses information technology (IT) to ensure that crops and soil receive exactly what they need for optimum health and productivity.</p>
           <p> The goal of PA is to ensure profitability, sustainability and protection of the environment.</p>
           <p>Some examples of precision agriculture include drones, Global Positioning Systems (GPS) and irrigation technologies.</p>
    </div>
  </div>
    </div>
    <p></p>
  </section>
  <section class="smartfarm-sec" >
      <div class="container">
        <h1>Smart Farming</h1>
      <div class="smartfarm_container">
        <div class="smart-farm">
          <img  src="../../images/virtualfarm web1.png" alt="">
    </div>
          <div class="smart-farm-content">
            <p>  Precision agriculture uses modern technologies such as satellite or field mapping to improve crop quality and profitability. 
         </p>
              <p>Through remote sensing precisely smart farming system reduces waste, improves productivity and enables improved resource management.</p>
              <p>By linking local sensors to smart irrigation and control, things like sensing pH balance of the soil,gauging local temperature is now possible through remote monitoring and sensing rather than walking the field all the time.</p>
              <p>This leads to increase in the yield as farmers can save on time and focus on the real issues of farming — pest control.</p>

            </div>
           
           
      
    </div>
  </div>

  </section>
  
<div class="container_page">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-3 mx-auto">
          <img src="../../images/android.png" alt="">
          <p>Android system
            facilitates your
            farm work</p>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-3 mx-auto">
          <img src="../../images/PIQ.png" alt="">
          <p>Simple, intuitive<br>
            Precision-IQ platform to
            conduct all field operations</p>
        </div>
        <div class="col-md-3 mx-auto">
          <img src="../../images/datasharing.png" alt="">
          <p>Connected Farm
            allows automatic
            farm data sharing</p>
        </div>
        <div class="col-md-3 mx-auto">
          <img src="../../images/ico.png" alt="">
          <p>Interchangeable
            components make
            expanding easy</p>
        </div>
      </div>
    </div>
   
  </div>
</div>