<div class="container">
    <h1 class="h1-responsive clients-title text-center shadow-sm py-2">Talk to us</h1>
    <!-- <div class="contact-section"> -->
        <div class="row">
            <div class="col">
                <div class="card " >
                    <div class="card-body ">
                        <div class="card-title ">
                            <h4 class="h4-responsive">How can we help?</h4>
                        </div>
                         <form class="comment-form " action="">
                      <div class="form-group ">
                          <label for="name"><span ><h5>Name</h5></span></label>
                          <input type="text" placeholder="" id="name" required>
                      </div>
                      <div class="form-group ">
                          <label for="email"><span ><h5>Email</h5></span></label>
                          <input type="email" placeholder="" id="email" required>
                      </div>
                     
                      <div class="form-group">
                   <label for="text-area"><span><h5> Your Occupation</h5></span></label>
                   <input name="occupation" placeholder="" id="occupation" cols="23" rows="3" required>
                        <p></p>
                      </div>
                      <div class="form-group ">
                        <label for="text-area"><span ><h5>Talk to us here...</h5></span></label>
                       <textarea name="textarea" placeholder="" id="textarea" cols="23" rows="3" required></textarea>
                    </div>
                      <div class="card-button">
                         <button  type="submit" class="btn">Submit</button>
                      </div>
                      
                  </form>
                    </div>
        
                </div>
            </div>
        
                <div class="col-sm-6 opening-hours">
                  <div class="container">

                    <h3 class="h3-responsive py-2 mx-2">Opening Hours</h3>
                    <hr>
                    <div class="content py-2 mx-2">
                  <h6 class="h6-responsive"><span> </span> <i style='font-size:24px' class='far'>&#xf017;</i>Monday-Friday: 08:00-16:00</h6>
                  <h6 class="h6-responsive"><span> </span><i style='font-size:24px' class='far'>&#xf017;</i> Weekends: 09:00-13:00</h6>
                  <h6 class="h6-responsive"><span> </span> <i style='font-size:24px' class='far'>&#xf017;</i>Public Holidays: 10:00-16:00</h6>
                    </div>

                    <div class="socials py-2 mx-2">
                      <h3 class="h3-responsive">Get in touch with us</h3>
                      <hr>
                      <h6 class="h6-responsive"><span></span><i style="font-size:24px" class="fa">&#xf0e0;</i>:trimbleagri@gmail.com</h6>
                      <h6 class="h6-responsive"><span></span><i style='font-size:24px' class='fas'>&#xf095;</i>:234 5678</h6>
                      <h6 class="h6-responsive"><span> </span><i style='font-size:24px' class='fas'>&#xf2b9;</i>:Joahenden 2nd Avenue<br>Mumbai</h6>
                    </div>
  
                  </div>
                </div>
   
    </div>
    </div>
    <!-- </div> -->
    
    