<div class="banner">
<div class="container">
    <div class="cards">
<h3>Add a Product</h3>
    <form (ngSubmit)="saving()" [formGroup]="addcard"  >
            <label for="img" class="text-dark">Image</label>
            <input id="img" type="text" formControlName="img" class="form-control" placeholder="Provide product link">
            <span class="text-danger"
                *ngIf="addcard.controls['img'].touched && addcard.hasError('required','img')">*Please 
                upload the image url </span>
            <label for="title" class="text-dark">Title</label>
            <input id="title" type="text" formControlName="title" class="form-control" placeholder="Enter title" >
            <span class="text-danger" *ngIf="addcard.controls['title'].touched && addcard.hasError('required','title')">*Title is required
            </span>
            <label for="description" class="text-dark">
                Description</label>
            <input type="text-area" id="description" formControlName="description" class="form-control" placeholder="Enter the description" >
            <span class="text-danger"
                *ngIf="addcard.controls['description'].touched && addcard.hasError('required','description')">*Description
                 is required </span>
                 <label for="description" class="text-dark">
                    Content-1</label>
                <input type="text-area" id="content1" formControlName="content1" class="form-control" placeholder="Enter the content1" >
                <span class="text-danger"
                    *ngIf="addcard.controls['content1'].touched && addcard.hasError('required','content1')">*content1
                     is required </span>
                     <label for="description" class="text-dark">
                        Content-2</label>
                    <input type="text-area" id="content2" formControlName="content2" class="form-control" placeholder="Enter the content2" >
                    <span class="text-danger"
                        *ngIf="addcard.controls['content2'].touched && addcard.hasError('required','content2')">*content2
                         is required </span>
                     <label for="description" class="text-dark">
                        Feature</label>
                    <input type="text-area" id="feature" formControlName="feature" class="form-control" placeholder="Enter the feature" >
                    <span class="text-danger"
                        *ngIf="addcard.controls['feature'].touched && addcard.hasError('required','feature')">*Feature
                         is required </span>
                         <label for="mainimg" class="text-dark">
                            Main-Image</label>
                        <input type="text-area" id="mainimg" formControlName="mainimg" class="form-control" placeholder="Please provide the main image link" >
                        <span class="text-danger"
                            *ngIf="addcard.controls['mainimg'].touched && addcard.hasError('required','mainimg')">*Main image
                             is required </span>
                             <label for="key1" class="text-dark">
                                keyone</label>
                            <input type="text-area" id="keyone" formControlName="keyone" class="form-control" placeholder="Please provide the key points" >
                            <label for="key2" class="text-dark">
                                key2</label>
                            <input type="text-area" id="key2" formControlName="key2" class="form-control" placeholder="Please provide the key points" >
                            <label for="key3" class="text-dark">
                                key3</label>
                            <input type="text-area" id="key3" formControlName="key3" class="form-control" placeholder="Please provide the key points" >
                            <label for="key4" class="text-dark">
                                key4</label>
                            <input type="text-area" id="key4" formControlName="key4" class="form-control" placeholder="Please provide the key points" >
                            <label for="link" class="text-dark">
                              Optional image</label>
                            <input type="text-area" id="link" formControlName="link" class="form-control" placeholder="Please fill this field">
                            
                            
                            
          <br>
    <button type="submit" class="btn btn-success" [disabled]="!addcard.valid">Submit</button>
</form>
</div>
</div>
</div>